  :root {
    --color-gray: #dfe2d9;
    --color-dark: #333;
    --font-style: sans-serif;
    --vertical-line-height: 25vh;
  }
  
  body {
    box-sizing: border-box;
    width: 715px;
    margin: 0 auto;
    padding: 20px 0 calc(var(--vertical-line-height) / 2);
  
    color: var(--color-dark);
    font-family: var(--font-style);
    line-height: 1.7;
  
    background: var(--color-gray);
  }
  
  p {
    margin: 0;
  
    font-weight: bold;
  }
  
  h1 {
    margin: 0;
  
    font-size: 80px;
  }
  
  /* BEGIN (write your solution here) */
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: repeat(4, auto);
    column-gap: 55px;
    row-gap: 40px;
    position: relative;
    justify-content: flex-end;
  }
  
  .grid-title {
    grid-column: span 5;
  }
  
  .grid-left {
    grid-column: span 2;
  }
  
  .grid-right {
    grid-column: span 3;
    justify-self: end;
  }
  
  .line {
    height: 25vh;
  }
  
  .longline {
    position: absolute;
    content: "";
    width: 85px;
    height: 50vh;
    opacity: 0.7;
    top: 50%;
    left: -70px;
  }
  
  .bl1 {
    grid-column-start: 1;
  }
  
  .bl2 {
    grid-column-start: 2;
  }
  
  .bl3 {
    grid-column-start: 3;
  }
  
  .bl4 {
    grid-column-start: 4;
  }
  
  .bl5 {
    grid-column-start: 5;
  }
  
  /* END */
  
  .blue {
    background: #0271a1;
  }
  
  .orange {
    background: #f37022;
  }
  
  .pink {
    background: #cd0076;
  }
  