body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    height: 100vh;
    padding: 100px 75px;
    background-color: darkslateblue;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

a {
    display: inline-block;
    margin-bottom: 40px;
    padding: 20px 125px;
    background-color: burlywood;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.display {
    position: absolute;
    left: 75px;
    right: 75px;
    padding: 50px;
    color: #fff;
    font-size: 30px;
    opacity: 0;
}

.html {
    background-color: lightgray;
}

.css {
    background-color: grey;
}

.js {
    background-color: black;
}

a[data-tab="html"]:hover~.html {
    opacity: 1;
}

a[data-tab="css"]:hover~.css {
    opacity: 1;
}

a[data-tab="js"]:hover~.js {
    opacity: 1;
}