doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(rel='icon' type='image/x-icon' href='favicon.ico')

    title Hexlet

    style
      include styles/basis.css

    link(rel='stylesheet' href='./styles/app.css')
  body
    //- Подключение шапки сайта
    include includes/header.pug

    main
      h1 Научитесь программировать и получите востребованную профессию
      section
        :markdown-it
          Hexlet. Научитесь программировать и получите востребованную профессию

          Мы помогаем новичкам стать профессиональными программистами, а опытным разработчикам получать новые знания и расти профессионально.

          Выбирайте Хекслет, если вы:

         * Хотите научиться программировать, но не знакомы с разработкой
         * Хотите получить новую профессию
          * Хотите развиваться

          ## Как проходит обучение

          Вы выбираете профессию, мы подбираем для вас индивидуального наставника. Это действующий программист с опытом преподавания. Обучение программированию в рамках профессии  объединяется в четыре модуля. Каждый модуль состоит из тематических курсов и практического проекта.
      aside
        //- Приоритетно перед непосредственной постановкой текста в pug
        include:markdown-it main.md 

    //- Подключение футера сайта
    include includes/footer.pug

    //- Подключим сюда же jstransformer — используется в pug для преобразования Markdown в HTML.
    //- Команда для установки npm install jstransformer-markdown-it